<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:uap12="http://schemas.microsoft.com/appx/manifest/uap/windows10/12"
  xmlns:printsupport="http://schemas.microsoft.com/appx/manifest/printsupport/windows10"
  xmlns:printsupport2="http://schemas.microsoft.com/appx/manifest/printsupport/windows10/2"
  IgnorableNamespaces="uap uap12 printsupport printsupport2 rescap">

  <Identity
    Name="2ddb7082-7566-484c-8d99-7f0b268e11f4"
    Publisher="CN=Contoso"
    Version="1.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="2ddb7082-7566-484c-8d99-7f0b268e11f4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PrintSupportApplication</DisplayName>
    <PublisherDisplayName>Contoso</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      uap10:SupportsMultipleInstances="true">
      <uap:VisualElements
        DisplayName="PrintSupportApplication"
        Description="PrintSupportApplication WinAppSdk CSharp"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <printsupport:Extension Category="windows.printSupportSettingsUI" EntryPoint="PrintSupportApplication.App"/>
        <printsupport:Extension Category="windows.printSupportJobUI" EntryPoint="PrintSupportApplication.App"/>
        <printsupport:Extension Category="windows.printSupportWorkflow" EntryPoint="Tasks.PrintSupportWorkflowBackgroundTask"/>
        <printsupport:Extension Category="windows.printSupportExtension" EntryPoint="Tasks.PrintSupportExtensionBackgroundTask"/>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter DisplayName="ms-resource:PdfPrintDisplayName" PrinterUri="contoso-psa:print-to-pdf" PreferredInputFormat="application/oxps" OutputFileTypes="pdf" PdcFile="Config\PrinterPdc.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/pdf" MaxVersion="1.7" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter DisplayName="ms-resource:PsPrintDisplayName" PrinterUri="contoso-psa:print-to-ps" PreferredInputFormat="application/postscript" OutputFileTypes="ps" PdcFile="Config\PrinterPdc.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/postscript" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
        <printsupport2:Extension Category="windows.printSupportVirtualPrinterWorkflow" EntryPoint="Tasks.VirtualPrinterBackgroundTask">
          <printsupport2:PrintSupportVirtualPrinter DisplayName="ms-resource:CloudPrintDisplayName" PrinterUri="contoso-psa:print-to-cloud" PreferredInputFormat="application/oxps" PdcFile="Config\PrinterPdc.xml">
            <printsupport2:SupportedFormats>
              <printsupport2:SupportedFormat Type="application/postscript" />
            </printsupport2:SupportedFormats>
          </printsupport2:PrintSupportVirtualPrinter>
        </printsupport2:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>WinRT.Host.dll</Path>
        <ActivatableClass ActivatableClassId="Tasks.PrintSupportWorkflowBackgroundTask" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Tasks.PrintSupportExtensionBackgroundTask" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Tasks.VirtualPrinterBackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>XpsUtil.dll</Path>
        <ActivatableClass ActivatableClassId="XpsUtil.XpsPageWatermarker" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="XpsUtil.XpsSequentialDocument" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>
